<h1>{{ 'app.email_confirmation.title'|trans }}</h1>

<p>
    {{ 'app.email_confirmation.message_1'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'app.email_confirmation.link'|trans }}</a>.
    {{ 'app.email_confirmation.message_2'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'app.email_confirmation.courtesy'|trans }}
</p>
