{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-4">
				<h1>{{ "app.todo.add_todo"|trans }}</h1>
				{{ form_start(todoForm) }}

				<div class="form-group mt-3">
					{{ form_errors(todoForm.title) }}
					{{ form_label(todoForm.title, 'app.todo.form.title.label'|trans ) }}
					{{ form_widget(todoForm.title, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group mt-3">
					{{ form_errors(todoForm.content) }}
					{{ form_label(todoForm.content, 'app.todo.form.content.label'|trans ) }}
					{{ form_widget(todoForm.content, {'attr': {'class': 'form-control'}}) }}
				</div>

				<input type="submit" value="{{ "app.todo.add_button"|trans }}" class="btn btn-primary mt-2">

				{{ form_end(todoForm) }}
			</div>
		</div>

		<div class="row mt-5 todo-items">
			{% for todoItem in todoItems|reverse %}
				<div class="col col-6 col-lg-3 col-sm-6 todo-item" style="margin-top: 10px;" data-todo-id="{{ todoItem.id }}">
					<div class="card {% if todoItem.isValided %}text-bg-success{% else %}text-bg-light{% endif %}">
						<div class="card-body">
							<h5 class="card-title">{{ todoItem.title }}</h5>
							<p class="card-text">{{ todoItem.content }}</p>
							<div style="float: right">
								{% if todoItem.isValided == false %}
									<i class="bi bi-check-square check-todo todo-icon"></i>
								{% endif %}
								<i class="bi bi-trash3-fill remove-todo todo-icon" style="margin-left: 10px;"></i>
							</div>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
