<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{{ "app.title"|trans }}{% endblock %}
		</title>
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{% include 'nav.html.twig' %}

		<div id="page-container">
			<div id="content-wrap">
				{{ block('body') }}
			</div>
			{% include 'footer.html.twig' %}
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	</body>
</html>
